In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../Dataset/all-data.csv',encoding='latin-1',names=['sentiment','text'])
df.head()

  sentiment                                               text
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [6]:
# unique values in sentinment column
df['sentiment'].unique()
# replace neutral with 0, positive with 1, negative with -1
df['sentiment'] = df['sentiment'].replace('neutral', 2)
df['sentiment'] = df['sentiment'].replace('positive', 1)
df['sentiment'] = df['sentiment'].replace('negative', -1)

In [7]:
df.head()

   sentiment                                               text
0          2  According to Gran , the company has no plans t...
1          2  Technopolis plans to develop in stages an area...
2         -1  The international electronic industry company ...
3          1  With the new production plant the company woul...
4          1  According to the company 's updated strategy f...

In [10]:
df1 = pd.read_csv('../Dataset/stock_data.csv')
df1.head()

                                                Text  Sentiment
0  Kickers on my watchlist XIDE TIT SOQ PNK CPW B...          1
1  user: AAP MOVIE. 55% return for the FEA/GEED i...          1
2  user I'd be afraid to short AMZN - they are lo...          1
3                                  MNTA Over 12.00            1
4                                   OI  Over 21.37            1

In [11]:
# make first colum of df the Text column and second column the Label column
df2 = df["sentiment"]
df3 = df["text"]
df4 = pd.concat([df3, df2], axis=1)
df4.head()

                                                text  sentiment
0  According to Gran , the company has no plans t...          2
1  Technopolis plans to develop in stages an area...          2
2  The international electronic industry company ...         -1
3  With the new production plant the company woul...          1
4  According to the company 's updated strategy f...          1

In [12]:
# rename text to Text and sentiment to Sentiment
df4.rename(columns={'text':'Text', 'sentiment':'Sentiment'}, inplace=True)
df4.head()

                                                Text  Sentiment
0  According to Gran , the company has no plans t...          2
1  Technopolis plans to develop in stages an area...          2
2  The international electronic industry company ...         -1
3  With the new production plant the company woul...          1
4  According to the company 's updated strategy f...          1

In [14]:
# as d4 and df1 has same columns merge the rows 

df5 = pd.concat([df4, df1], axis=0, ignore_index=True)
df1.shape, df4.shape, df5.shape

((5791, 2), (4846, 2), (10637, 2))

In [ ]:
df5.to_csv('../Dataset/df5.csv', index=False)